<button type="submit" ng-disabled="dm.loadingState" class="btn btn-flat btn-full primary-action waves-effect waves-light">
  <span ng-if="!dm.loadingState">{{ dm.defaultMessage }}</span>

  <div ng-if="dm.loadingState === 'loading' || dm.loadingState === true" class="preloader-svg-wrapper animate-bounce">
    <img ng-src="images/svg-loaders/{{dm.loaderAnimation || 'three-dots'}}.svg" />
  </div>

  <span ng-if="dm.loadingState === 'error'">{{dm.errorMessage || 'Error'}}</span>

  <span ng-if="dm.loadingState === 'success'">{{dm.successMessage || 'Success!'}}</span>
</button>
